.field {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #ccc;
    border: 1px solid #000;
}

.field:hover {
    background: #848181;
    cursor: pointer;
}

.field.open {
    background: #a7e0a7;
}

.field.ringHere {
    background: cornflowerblue;
}
